:root {
  --primary-color: #333333;
  --text-color: #eeeeee;
  --text-color-error: tomato;
  --text-color-hover: #447380;
  --input-color-back: #eeeeee;
  --button-color: #eeeeee;
  --button-color-back: #375d68;
  --button-color-hover: #2f4c53;

  font-family: Trebuchet MS, sans-serif;

  background-color: var(--primary-color);
  color: var(--text-color);
}

body {
  margin: 0;
}

body,
html,
button,
input,
span,
p {
  font-family: Trebuchet MS, sans-serif;
}
