:root {
  font-family: Trebuchet MS, sans-serif;

  background-color: #2e2e2e;
  color: rgb(245, 245, 245);
}

body {
  margin: 0;
}

body,
html,
button,
input,
span,
p {
  font-family: Trebuchet MS, sans-serif;
}